// Navigation Styles here

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;

  header{
    border-bottom: 3px dotted black;
    margin:2% 0 0 0;
    padding:2% 0 4% 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    h1{
      padding-left: 3%;
    }

    nav{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 40%;

      a{
        text-decoration: none;
        font-size: 2rem;
        color: black;
      }

    }//nav ends

  }//header ends
}//.header ends

.header-image{
  display: flex;
  justify-content: center;

  img{
  background-image: url('img/fun-bus.jpg');
  width: 80%;
  }//img ends
}//.header-image ends

